<header class="header" data-header>
    <div class="container">
      <a routerLink="/home" class="logo">
        <img src="assets/images/logo.svg" width="151" height="28" alt="Jassa home">
      </a>
      <nav class="navbar" data-navbar [ngClass]="status ? 'active' : ''">
        <ul class="navbar-list">
          <li *ngFor="let item of navbarArray" class="navbar-item">
            <a [routerLink]="item.link" class="label-lg navbar-link has-after" routerLinkActive="active">{{ item.name }}</a>
          </li>
        </ul>
      </nav>
      <a routerLink="/contact" class="btn btn-primary">Contact Now</a>
      <button class="nav-toggle-btn" aria-label="menu" data-nav-toggler (click)="addToggle()">
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>
    </div>
  </header>
