<main>
    <article>

      <section class="section portfolio" aria-labelledby="portfolio-label">
        <div class="container">

          <h2 class="section-title headline-md text-center" id="portfolio-label">Latest Projects</h2>

          <ul class="portfolio-list">

            <li *ngFor="let item of projectsArray">
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img [src]="item.image" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">{{ item.name }}</span>

                  <h3 class="title-md">{{ item.topic }}</h3>

                  <p class="card-text">
                    {{ item.description }}
                  </p>

                  <a [href]="item.link" class="btn btn-primary">{{ item.btnname }}</a>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>

    </article>
  </main>
