<section class="section testi" aria-labelledby="testi-label">
  <div class="container">
    <h2 class="headline-md section-title text-center" id="testi-label">
      Testimonial
    </h2>

    <ul class="slider">
      <li class="slider-item card-container">
        <div class="card card-lg">
          <figure class="card-media">
            <img
              src="assets/images/testi-1.jpg"
              width="100"
              height="100"
              loading="lazy"
              alt="Jennifer Lutheran"
              class="img-cover"
            />
          </figure>

          <div class="card-content">
            <blockquote class="body-sm">
              Dolor lorem is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s.
            </blockquote>

            <p class="client-name">Jennifer Lutheran</p>

            <p class="client-title">CEO at pxdraft</p>
          </div>
        </div>
      </li>

      <li class="slider-item card-container">
        <div class="card card-lg">
          <figure class="card-media">
            <img
              src="assets/images/testi-2.jpg"
              width="100"
              height="100"
              loading="lazy"
              alt="Jennifer Lutheran"
              class="img-cover"
            />
          </figure>

          <div class="card-content">
            <blockquote class="body-sm">
              Dolor lorem is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s.
            </blockquote>

            <p class="client-name">Jennifer Lutheran</p>

            <p class="client-title">CEO at pxdraft</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
