<section class="section about" aria-label="about me">
    <div class="container">

      <figure class="about-banner">
        <img src="assets/images/about-banner.png" width="580" height="554" loading="lazy"
          alt="Jassa, the blonde, dressed in a black tops with a smile on her face" class="w-100">
      </figure>

      <div class="about-content">

        <h2 class="title-lg">I'm a Full Stack Developer and UI/UX Designer. Undergraudate @ University of Moratuwa.</h2>

        <p class="body-md section-text">
          I started my internship at MillenniumIT ESP as a Software Engineer Intern in January 3rd, 2024. I am a self-motivated and hardworking. Enjoy learning new technologies. Mostly engaged in Front-end development and UI/UX designing.
        </p>

        <ul class="about-list">

          <li>
            <p class="list-text">
              <strong class="strong title-md">2</strong> Projet Completed
            </p>
          </li>

          <li>
            <p class="list-text">
              <strong class="strong title-md">5</strong> Ongoing Projects
            </p>
          </li>

        </ul>

        <div class="wrapper">
          <a routerLink="/contact" class="btn btn-primary">Contact Me</a>

          <a routerLink="/portfolio" class="btn btn-secondary">Portfolio</a>
        </div>

      </div>

    </div>
  </section>
